.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

main section {
  margin: 40px;
  padding: 20px 40px;
  max-width: 720px;
  border-radius: 8px;
  box-shadow: 0 14px 48px rgba(0,0,0,0.15), 0 10px 16px rgba(0,0,0,0.12);
}

main section table td, main section table th {
  min-width: 120px;
  text-align: left;
}